<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="tests">
    <test name="Pixel_6_emulator">
        <parameter name="platformName" value="Android"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="platformVersion" value="api_33"/>
        <parameter name="deviceName" value="pixel_6"/>
        <parameter name="systemPort" value="9999"/>
        <parameter name="chromeDriverPort" value="9998"/>
        <classes>
            <class name="com.qa.runners.TestngPixel6RunnerTest"/>
        </classes>
    </test>

<!--    <test name="Pixel_3_emulator">-->
<!--        <parameter name="platformName" value="Android"/>-->
<!--        <parameter name="udid" value="emulator-5556"/>-->
<!--        <parameter name="platformVersion" value="api_29"/>-->
<!--        <parameter name="deviceName" value="pixel_3"/>-->
<!--        <parameter name="systemPort" value="9996"/>-->
<!--        <parameter name="chromeDriverPort" value="9997"/>-->
<!--        <classes>-->
<!--            <class name="com.qa.runners.TestngPixel3RunnerTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>